<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Whatsapp wannabe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <h2>Register</h2>

        <form action="/register" method="POST" id="loginForm">
            <div>
                <label for="username">Username: </label>
                <input name="myUserName" id="username">
            </div>

            <div style="margin-top: 30px;">
                <label for="password">Password: </label>
                <input type="password" name="myPassword" id="password">
            </div>

            <div style="margin-top: 30px;">
                <label for="confirmPassword">Confirm password: </label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>

            <div th:if="${passwordIncorrect}" style = "margin-top: 30px;">
                <label style = "color: red">Passwords don't match!</label>
            </div>

            <div th:if="${usernameTaken}" style = "margin-top: 30px;">
                <label style = "color: red">Username is already taken!</label>
            </div>

            <div style="margin-top: 30px;">
                <button>Register</button>
            </div>
        </form>
    </body>
</html>